*.pid
*.xml
!zwcfg_*.xml
!options.xml
*.csr
*.crt
*.swp
*.key
*.conf
*.pickle
.cloud
*˜
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
deps
tmp
__pycache__
tts
secrets.yaml
secrets
.config_entries.json
phue.conf
ios.conf
pyozw.sqlite
nest.conf
.uuid
ipchange.yaml
.venv
.HA_VERSION
hass-configurator-settings.conf
.storage/auth*
home-assistant.log*
configurator.json
