[submodule "themes"]
	path = themes
	url = https://github.com/maartenpaauw/home-assistant-community-themes.git
[submodule "custom_components/pid"]
	path = custom_components/pid
	url = https://github.com/fabiannydegger/custom_components.git
[submodule "deps/open-zwave-control-panel"]
	path = deps/open-zwave-control-panel
	url = https://github.com/OpenZWave/open-zwave-control-panel.git
