[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.5"

[dev-packages]

[packages]
homeassistant = "*"
"iperf3" = "==0.1.10"
python-synology = "==0.2.0"
colorlog = "==3.1.4"
beacontools = "*"
"i2csense" = "*"
"bme680" = "*"
pyotp = "*"
"onvif-py3" = "==0.1.3"
"suds-py3" = "==1.3.3.0"
suds-passworddigest-homeassistant = "==0.1.2a0.dev0"
ha-ffmpeg = "==1.9"
aiofreepybox = "==0.0.4"
aiohttp = "==3.4.0"
astral = "==1.6.1"
attrs = "==18.1.0"
bcrypt = "==3.1.4"
certifi = ">=2018.04.16"
cryptography = "==2.3.1"
pytz = ">=2018.04"
requests = "==2.19.1"
voluptuous = "==0.11.5"
wazeroutecalculator = "==0.6"
aioautomatic = "==0.6.5"
aiodns = "==1.1.1"
aiohue = "==1.5.0"
batinfo = "==0.4.2"
"beautifulsoup4" = "==4.6.3"
braviarc-homeassistant = "==0.3.7.dev0"
distro = "==1.3.0"
ephem = "==3.7.6.0"
epson-projector = "==0.1.3"
freesms = "==0.1.2"
hikvision = "==0.4"
hole = "==0.3.0"
home-assistant-frontend = "==20180829.0"
influxdb = "==5.0.0"
jsonpath = "==0.75"
jsonrpc-async = "==0.6"
jsonrpc-websocket = "==0.6"
netdisco = "==2.0.0"
psutil = "==5.4.7"
py-cpuinfo = "==4.0.0"
py-synology = "==0.2.0"
pyharmony = "==1.0.20"
pyiss = "==1.0.1"
pymusiccast = "==0.1.6"
pynetgear = "==0.4.1"
"pynut2" = "==2.1.2"
pysabnzbd = "==1.0.1"
pysnmp = "==4.4.5"
python-forecastio = "==1.4.0"
python-pushover = "==0.3"
pythonwhois = "==2.4.3"
rxv = "==0.5.1"
spotipy-homeassistant = "==2.4.4.dev1"
statsd = "==3.2.1"
transmissionrpc = "==0.11"
yahooweather = "==0.10"
zeroconf = "==0.20.0"
GitPython = "*"
"RPi.GPIO" = "*"
Adafruit-DHT = "*"
PyUserInput = "*"
python_openzwave = "==0.4.9"
async_timeout = "==3.0.0"
"Jinja2" = ">=2.10"
PyJWT = "==1.6.4"
PyYAML = "<4,>=3.13"
aiohttp_cors = "==0.7.0"
Pillow = "==5.2.0"
pyRFXtrx = "==0.22.1"
PyDispatcher = "==2.0.5"
pyEmby = "==1.5"
pyHik = "==0.1.8"
SQLAlchemy = "==1.2.11"
"smbus2" = "==0.2.0"
