# Home Assistant core
aiohttp==3.4.0
astral==1.6.1
async_timeout==3.0.0
attrs==18.1.0
bcrypt==3.1.4
certifi>=2018.04.16
jinja2>=2.10
PyJWT==1.6.4
cryptography==2.3.1
pip>=8.0.3
pytz>=2018.04
pyyaml>=3.13,<4
requests==2.19.1
voluptuous==0.11.5

# homeassistant.components.sensor.waze_travel_time
WazeRouteCalculator==0.6

# homeassistant.components.device_tracker.automatic
aioautomatic==0.6.5

# homeassistant.components.sensor.dnsip
aiodns==1.1.1

# homeassistant.components.device_tracker.freebox
aiofreepybox==0.0.4

# homeassistant.components.emulated_hue
# homeassistant.components.http
aiohttp_cors==0.7.0

# homeassistant.components.hue
aiohue==1.5.0

# homeassistant.components.sensor.linux_battery
batinfo==0.4.2

# homeassistant.components.device_tracker.linksys_ap
# homeassistant.components.sensor.scrape
# homeassistant.components.sensor.sytadin
beautifulsoup4==4.6.3

# homeassistant.components.media_player.braviatv
braviarc-homeassistant==0.3.7.dev0

# homeassistant.scripts.check_config
colorlog==3.1.4

# homeassistant.components.updater
distro==1.3.0

# homeassistant.components.sensor.season
ephem==3.7.6.0

# homeassistant.components.media_player.epson
epson-projector==0.1.3


# homeassistant.components.notify.free_mobile
freesms==0.1.2

# homeassistant.components.ffmpeg
ha-ffmpeg==1.9

# homeassistant.components.switch.hikvisioncam
hikvision==0.4

# homeassistant.components.sensor.pi_hole
hole==0.3.0

# homeassistant.components.frontend
home-assistant-frontend==20180829.0


# homeassistant.components.influxdb
# homeassistant.components.sensor.influxdb
influxdb==5.0.0

# homeassistant.components.sensor.iperf3
iperf3==0.1.10

# homeassistant.components.verisure
jsonpath==0.75

# homeassistant.components.media_player.kodi
# homeassistant.components.notify.kodi
jsonrpc-async==0.6

# homeassistant.components.media_player.kodi
jsonrpc-websocket==0.6


# homeassistant.components.discovery
netdisco==2.0.0

# homeassistant.components.camera.onvif
onvif-py3==0.1.3

# homeassistant.components.camera.proxy
pillow==5.2.0

# homeassistant.components.sensor.systemmonitor
psutil==5.4.7

# homeassistant.components.sensor.cpuspeed
py-cpuinfo==4.0.0

# homeassistant.components.camera.synology
py-synology==0.2.0

# homeassistant.components.rfxtrx
pyRFXtrx==0.22.1

# homeassistant.components.zwave
pydispatcher==2.0.5

# homeassistant.components.media_player.emby
pyemby==1.5

# homeassistant.components.remote.harmony
pyharmony==1.0.20

# homeassistant.components.binary_sensor.hikvision
pyhik==0.1.8

# homeassistant.components.binary_sensor.iss
pyiss==1.0.1

# homeassistant.components.media_player.yamaha_musiccast
pymusiccast==0.1.6

# homeassistant.components.device_tracker.netgear
pynetgear==0.4.1

# homeassistant.components.sensor.nut
pynut2==2.1.2

# homeassistant.components.sabnzbd
pysabnzbd==1.0.1

# homeassistant.components.device_tracker.snmp
# homeassistant.components.sensor.snmp
# homeassistant.components.switch.snmp
pysnmp==4.4.5

# homeassistant.components.sensor.darksky
# homeassistant.components.weather.darksky
python-forecastio==1.4.0

# homeassistant.components.notify.pushover
python-pushover==0.3

# homeassistant.components.sensor.synologydsm
python-synology==0.2.0

# homeassistant.components.zwave
python_openzwave==0.4.9

# homeassistant.components.sensor.whois
pythonwhois==2.4.3

# homeassistant.components.media_player.yamaha
rxv==0.5.1

# homeassistant.components.media_player.spotify
spotipy-homeassistant==2.4.4.dev1

# homeassistant.components.recorder
# homeassistant.scripts.db_migrator
# homeassistant.components.sensor.sql
sqlalchemy==1.2.11

# homeassistant.components.statsd
statsd==3.2.1

# homeassistant.components.camera.onvif
suds-passworddigest-homeassistant==0.1.2a0.dev0

# homeassistant.components.camera.onvif
suds-py3==1.3.3.0

# homeassistant.components.sensor.transmission
# homeassistant.components.switch.transmission
transmissionrpc==0.11

# homeassistant.components.sensor.yweather
# homeassistant.components.weather.yweather
yahooweather==0.10

# homeassistant.components.zeroconf
zeroconf==0.20.0

